{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.firecrawl.dev/v1/scrape",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"formats\":[\"screenshot\"],\"url\":\"https://www.iana.org/help/example-domains\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer <TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "W/\"183-ylEB+1EXkBk+cpM//jCbgFEArI4\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"success\":true,\"data\":{\"screenshot\":\"https://service.firecrawl.dev/storage/v1/object/public/media/screenshot-6f4088b9-f368-4aa8-90d0-8a3e04fbbe6a.png\",\"metadata\":{\"title\":\"Example Domains\",\"ogLocaleAlternate\":[],\"viewport\":\"width=device-width, initial-scale=1\",\"sourceURL\":\"https://www.iana.org/help/example-domains\",\"url\":\"https://www.iana.org/help/example-domains\",\"statusCode\":200}}}"
        }
      },
      "recorded_at": "Fri, 08 Nov 2024 04:33:36 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}