{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.firecrawl.dev/v1/scrape",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"formats\":[\"html\"],\"url\":\"https://www.iana.org/help/example-domains\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer <TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "W/\"5c5-u5mi/tlCdBWpI8n/Pfgr3IZ12tQ\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"success\":true,\"data\":{\"metadata\":{\"title\":\"Example Domains\",\"ogLocaleAlternate\":[],\"viewport\":\"width=device-width, initial-scale=1\",\"sourceURL\":\"https://www.iana.org/help/example-domains\",\"url\":\"https://www.iana.org/help/example-domains\",\"statusCode\":200},\"html\":\"<!DOCTYPE html><html>\\n\\n<body>\\n\\n\\n\\n<div id=\\\"body\\\">\\n\\n\\n<article class=\\\"hemmed sidenav\\\">\\n\\n    <main>\\n    \\n<div class=\\\"help-article\\\">\\n\\n<h1>Example Domains</h1>\\n<p>As described in <a href=\\\"/go/rfc2606\\\">RFC 2606</a> and <a href=\\\"/go/rfc6761\\\">RFC 6761</a>, a\\nnumber of domains such as example.com and example.org are maintained\\nfor documentation purposes. These domains may be used as illustrative\\nexamples in documents without prior coordination with us. They are not\\navailable for registration or transfer.</p>\\n<p>We provide a web service on the example domain hosts to provide basic\\ninformation on the purpose of the domain. These web services are\\nprovided as best effort, but are not designed to support production\\napplications. While incidental traffic for incorrectly configured\\napplications is expected, please do not design applications that require\\nthe example domains to have operating HTTP service.</p>\\n<h2>Further Reading</h2>\\n<ul>\\n<li><a href=\\\"/domains/reserved\\\">IANA-managed Reserved Domains</a></li>\\n</ul>\\n\\n<div class=\\\"last-updated\\\">Last revised 2017-05-13.</div>\\n\\n\\n</div>\\n\\n    </main>\\n\\n    \\n\\n</article>\\n\\n\\n</div>\\n\\n\\n\\n\\n\\n\\n\\n\\n</body></html>\"}}"
        }
      },
      "recorded_at": "Fri, 08 Nov 2024 04:33:26 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}