{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.firecrawl.dev/v1/scrape",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"formats\":[\"screenshot@fullPage\"],\"url\":\"https://www.iana.org/help/example-domains\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer <TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "W/\"151-qk+QjQcho8wlaZbL14i9dRBByrw\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"success\":true,\"data\":{\"screenshot\":\"https://service.firecrawl.dev/storage/v1/object/public/media/screenshot-9beb4cbd-06c9-49d6-b0a3-4c3ec8261e04.png\",\"metadata\":{\"title\":\"Example Domains\",\"ogLocaleAlternate\":[],\"viewport\":\"width=device-width, initial-scale=1\",\"sourceURL\":\"https://www.iana.org/help/example-domains\",\"statusCode\":200}}}"
        }
      },
      "recorded_at": "Wed, 06 Nov 2024 19:30:38 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}